<h1>welcome</h1>
 <%= link_to "Log In", login_path %>
  <%= link_to "signup", signup_path %>
   <%= link_to "resources", resources_path %>
   <div>
        <%=link_to "Logout", logout_path, method: "delete"%>
    </div>