
<% @post.comments.each do |comment| %>
<% if @error %>
          <div id="error_explanation">
            <p><%= @error %></p>
          </div>
        <% end %>
 <%=comment.username%>
 <br>
 <%=comment.body%>
 <br>
<%= link_to "Delete Comment", [comment.post, comment], method: :delete %>
<br>
<%end%>


